<li>
  <%= link_to (upvote_question_path(question)), :id => "question-upvote", remote: true, method: :post do %>
  <i class="fa fa-paper-plane"></i>
  <% end %>
  <%= link_to (downvote_question_path(question)), :id => "question-upvote", remote: true, method: :post do %>
  <i class="fa fa-wheelchair"></i>
  <% end %>
  Votes: <span id="<%="#{question.id}"%>-votecount"><%=question.votecount%></span> - <%= link_to("#{question.title}", question) %>
</li>
